@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Mono:wght@200;300&display=swap');

*{
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Comfortaa', cursive;
}

.hr-title{
    width: 300px;
    margin-top: 0;
    margin-left: 106px;
}

.cart{
    height: 30px;
    width: 30px;
}

.dados-pedido-title{
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.container-conteudo{
    border: 1px solid #E7E6E6;
    border-radius: 10px;
    padding-top: 15px;
    margin-bottom: 30px;
    background-color: #e7e6e66b;
}

.custom-btn-meus-pedidos{
    width: 252px;
    height: 58px;
    background-color: #9ACCFF;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    margin-left: 350px;
    margin-top: 60px;
}

.container-meus-pedidos{
    border: 1px solid #E7E6E6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.title{
    margin-left: 108px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.custom-btn-header{
    width: 149px;
    height: 37px;
}