@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Mono:wght@200;300&display=swap');

*{
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: #ffcedf8f;
}

.custom-button{
    background-color: #9ACCFF;
    width: 210px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    /* border-radius: 30%; */
    height: 40px;
    text-align: center;
    /* padding-bottom: 40px; */
}

.card{
    width: 500px;
    height: 300px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
   /*  margin-top: 100px; */
}

.text-title{
    font-size: 24px;
    font-weight: bold;
}

.line-title-atualizar{
    width: 398px;
}

.card-input{
    width: 400px;
}

.text-sucesso-atualizacao-senha{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.img-checked-senha{
    width: 80px;
    height: 80px;
}