@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Mono:wght@200;300&display=swap');

*{
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Comfortaa', cursive;
}

.menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Comfortaa', cursive;
    background-color: white;
    
}

.menu-a li a, .dropdown-toggle{
    list-style: none;
    text-decoration-line: none;
    color: #E6889A;
    font-weight: bold;
}

.menu-a li a:hover{
    color: grey;
}

.dropdown-toggle:hover{
    color:grey;
}

.dropdown-toggle{
padding: 0.5rem 1rem;
text-decoration-line: none;
}