body{
    margin: 0%;
    padding: 0% ;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.res{
    background-color: #ffcedf57;
    font-family: 'Dancing Script', cursive;
    display: flex;
    height: 100%;
    
    
}

.menSuperior {
    background-color: #F7D794;
    text-align: center;
    color: white;
    height: 25px;
    font-family: 'Dancing Script', cursive;
    width: 100%;

}

/* <!-- NAV--> */

menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Comfortaa', cursive;
    background-color: white;
    width: 100%;
    
}

.menu-a li a, .dropdown-toggle{
    list-style: none;
    text-decoration-line: none;
    color: #E6889A;
    font-weight: bold;
    margin: 0px 60px;
}

.menu-a li a:hover{
    color: grey;
}

.dropdown-toggle:hover{
    color:grey;
}

.dropdown-toggle{
padding: 0.5rem 1rem;
text-decoration-line: none;
}
/* <!-- FINAL NAV --> */


/* <!-- RESUMO --> */

.resumo{
    background-color: #ffffff;
    width: 100%;
    margin: 20px 15px 0px 15px;
    padding: 8px 0px 0px 20px;
    height: 40px;
 
}

.resumo2{
    background-color: #ffffff;
    width: 100%;
    margin: 5px 15px 0px 15px;
    padding: 4px 0px 0px 20px;
    height: 30px;
}

.resumo3{
    background-color: #ffffff;
    width: 100%;
    margin: 5px 15px 0px 15px;
    padding-left: 20px;
    
}

.resumo3 li{
    margin-top: 10px;
}

/* <!-- FINAL RESUMO --> */

/* <!-- ENTREGA --> */

.entrega{
    text-align: center;
    font-size: 22px;
}

.formEntrega{
    background-color: white;
    width: 100%;
    padding: 20px;
    height: 100%;
    margin: 20px 0px 20px 15px ;
}


.cep button{
    margin-top: 15px;
    background-color: white;
    border: none;
}

.correios {
    color: black;
    font-size: 14px;
    padding-top: 105px;

}

.caixaIntEnd{
    border: 1px solid #00000056;
    border-radius: 8px;
    padding: 15px;
}

.formEntrega form{
    border: 1px solid #00000056;
    border-radius: 8px;
    padding: 15px;   
}

.check input{
    font-size: 14px;
}

/* <!-- FINAL ENTREGA --> */



/* <!-- PAGAMENTO --> */

.pagamento1{
    text-align: center;
    font-size: 22px;
}

.formPagamento{
    background-color: white;
    width: 100%;
    padding: 20px;
    height: 650px;
    margin: 20px 15px 20px 30px ;
}

.cartao, .pix, .boleto{
    background-color: #f7d8945d;
    width: 90%;
    border-radius: 0px 5px 5px 0px;
}

.cartao img{
    margin: 3px 10px;
}

.pix img{
    margin: 3px 10px;
}

.boleto img{
    margin: 5px 10px;
}

.mensagemCcv{
    display: block;
}

/* <!-- FINAL PAGAMENTO --> */


/* <!-- MODAL CARTÃO DE CREDITO --> */

.modalCartao  button{
    background-color: #f7d8949c;
    width: 7%;
    border: none;
}

.modalCartao button:hover{
    background-color: #F7D794;
}


.pag{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;

}

.pag hr {
    margin: 0px ;
}

.imagens img{
    margin: 10px;
}

.cartFake{
    background-image: url('/Entrega/Imagens/azul_abstrato_background.png');
    margin: 30px 0px 30px 90px;
    height: 180px;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    
}

.cartFake img {
    padding-top: 10px;
    width: 80%;
    height: 90%;
}

.num{
    padding-top: 10px;
    margin-left: 75px;
    
}

.nome{
    padding-top: 30px;
    margin-left: 30px;
}

.data{
    padding-top: 30px;
    margin-left: 20px;
}


.form{
    margin: 20px 10px 20px 10px;
    font-size: 16px;
}

.form input{
    height: 30px;
    font-size: 14px;
}

.form select{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form option{
    font-size: 16px;
    font-family: 'Dancing Script', cursive;
}



.form a {
    margin: -33px 10px 0px 103px;
    font-size: 22px;
    color: black;
}

/* <!-- FINAL MODAL CARTÃO DE CREDITO --> */


/* <!-- MODAL PIX--> */


.modalPix  button{
    background-color: #f7d8949c;
    width: 7%;
    border: none;
}

.modalPix button:hover{
    background-color: #F7D794;
}

.modalPix hr{
    margin: 0px;
}

.modalPix img{
    margin: 6px ;
    
}

.textPix{
    padding: 20px 5px 0px 25px;
    font-size: 14px;
}

.pi{
    padding-bottom: 10px;
    font-size: 20px;
}

.valor {
    font-size: 16px;
    margin: 20px 0px;
}

.btnFinalizar button{
    background-color: #9CF38E;
    width: 60%;
    margin: 30px 0px 20px 80px;
    height: 50px;
    color: white;
    border-radius: 30px;
    font-size: 20px;
}

.btnFinalizar button:hover{
    background-color: #79b870;
}

/* <!-- FINAL MODAL PIX--> */


/* <!-- MODAL BOLETO--> */

.modalBoleto button{
    background-color: #f7d8949c;
    width: 7%;
    border: none;
}

.modalBoleto button:hover{
    background-color: #F7D794;
}

.modalBoleto hr{
    margin: 0px;
}

.modalBoleto img{
    margin: 6px;
    
}

.textBoleto{
    
    
    padding: 20px 5px 0px 25px;
    font-size: 14px;
}

.pi{
    padding-bottom: 10px;
    font-size: 20px;
}

.valor {
    font-size: 16px;
    margin: 20px 0px;
}

.btnFinalizar button{
    background-color: #9CF38E;
    width: 60%;
    margin: 30px 0px 20px 80px;
    height: 50px;
    color: white;
    border-radius: 30px;
    font-size: 20px;
}

.btnFinalizar button:hover{
    background-color: #79b870;
}




/* <!-- FINAL MODAL BOLETO--> */